.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* old styling below */
body {
  background-color: rgb(249, 232, 235);
}

#buttons {
  text-align: right;
  display: inline;
}

#list {
  list-style-type: none;
  display: inline;
}

#list li {
  display: inline;
}

a {
  font-size: small;
} 

#main-title {
  float: left;
}

#background-img {
  height: 200px;
  width: 500px;
}

#buttons {
  float: right;
}

.text-right {
  display: flex;
  flex-direction: column;
}

.text-center {
  display: flex;
  flex-direction: column;
}

.text-left {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

article {
  margin: 5px;
}